@font-face {
  font-family: 'iconfont'; /* Project id 2781984 */
  src:
    url('./fonts/iconfont.woff2?t=1712472523351') format('woff2'),
    url('./fonts/iconfont.woff?t=1712472523351') format('woff'),
    url('./fonts/iconfont.ttf?t=1712472523351') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiala:before {
  content: '\e737';
}

.icon-shangyizhen:before {
  content: '\e96f';
}

.icon-xiayizhen:before {
  content: '\e970';
}

.icon-bofang:before {
  content: '\e96d';
}

.icon-zanting:before {
  content: '\e96e';
}

.icon-xiayiguanjianzhen:before {
  content: '\e96a';
}

.icon-quxiaoguanjianzhen:before {
  content: '\e96b';
}

.icon-shangyiguanjianzhen:before {
  content: '\e96c';
}

.icon-guanjianzhen:before {
  content: '\e968';
}

.icon-shanchuchazhi:before {
  content: '\e969';
}

.icon-a-jiantousanjiaoxing:before {
  content: '\e8b8';
}

.icon-loading:before {
  content: '\e617';
}

.icon-yulan:before {
  content: '\e616';
}

.icon-cha:before {
  content: '\e779';
}

.icon-fanhui:before {
  content: '\e89d';
}

.icon-kuaijiejian1:before {
  content: '\e908';
}

.icon-simi1:before {
  content: '\e848';
}

.icon-gongkai1:before {
  content: '\e849';
}

.icon-zihao:before {
  content: '\e946';
}

.icon-qiehuan:before {
  content: '\e901';
}

.icon-gongkai:before {
  content: '\e611';
}

.icon-shanchu:before {
  content: '\e61c';
}

.icon-yincang:before {
  content: '\e794';
}

.icon-biaozhuquyu:before {
  content: '\e8d5';
}

.icon-biaoqian1:before {
  content: '\e84a';
}

.icon-guanbi:before {
  content: '\e80a';
}

.icon-chexiao:before {
  content: '\e787';
}

.icon-qianjin:before {
  content: '\e788';
}

.icon-a-zoomout:before {
  content: '\e8c8';
}

.icon-a-zoomin:before {
  content: '\e8ca';
}

.icon-fanzhuan_you:before {
  content: '\e8cb';
}

.icon-fanzhuan_zuo:before {
  content: '\e8cc';
}
